.on-intro{
    height: 4%;
    background-color: rgb(125, 97, 246);
}
.intro{
    color: white;
    font-size: 500%;
    margin-left: 4%;
    margin-top: 10%;
    margin-bottom: 1%;
}
.intro2{
    color: white;
    font-size: 500%;
    margin-left: 4%;
    margin-bottom: 4%;
    margin-top: 2%;
}
#download{
    background-color: black;
    padding: 1.3%;
    color: white;
    border-radius: 15px;
    margin-left: 7%;
    margin-bottom: 3%;
    cursor: pointer;
    margin-top: -50%;
    font-size: 80%;
    border: none;
}

#icon{
    position: absolute;
    bottom: 2%;
    float: left;
    left: 95%;
}
body{
    animation: transitionIn 0.5s;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.landing-imgs{
    display: flex;
}

.holdphone{
    width: 37%;
    float: right;
    margin-top: -22%;
    margin-left: 59%;
    position: absolute;
}
.phone-text1{
    position: absolute;
    margin-top: -15%;
    margin-left: 81%;
    width: 13%;
}
.rec1{
    height: 10%;
    position: absolute;
    margin-top: -17%;
    margin-left: 80%;
}
.rec2{
    height: 10%;
    position: absolute;
    margin-left: 65%;
    margin-bottom: 90%;
}
.phone-text2{
    position: absolute;
    margin-left: 66%;
    margin-top: 2%;
    width: 13%;
}
.check{
    width: 11.6%;
    margin-left: 74%;
    margin-top: -15%;
    position: absolute;
}
.building{
    position: absolute;
    height: 52%;
    left: 4%;
    top: 70%;

}
.line{
    size: 3%;
    margin-top: -12%;
    position: absolute;
    width: 25%;
    left: 50%;
}